* {
    margin: 0;
    padding: 0;
}

.body {
    background: #020A18;
    font-family: sans-serif;
}

/* .body {
    margin: 0 auto;
    background-color: #020A18;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

.top {
    padding-bottom: 99px;
    background-color: #020A18;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 39px 0px 39px 0px;
    gap: 32px;
    border-radius: 10px;
}

.header__link {
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.top__info {
    /* Group 399 */
    position: static;
    width: 604px;
    height: 415px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 128px;
}

.sub__title {
    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.title {
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}

.top__button {
    position: static;
    width: 604px;
    height: 415px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 15px 30px 15px 30px; */
    gap: 20px;
}

.button {
    margin-top: 50px;
    border-radius: 5px;
    background: rgb(58, 104, 184);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 30px 15px 30px;
}

.top__logos {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.top_center{
    background-color: #020A18;
}

.center {
    
    padding-top: 256px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 39px 0px 39px 0px;
    gap: 32px;
    border-radius: 10px;

}

.head_center {
    margin-top: 117px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.text_center {
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}

.button_center {}

.btn {
    width: 150px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background: rgb(58, 104, 184);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    text-align: center;
    
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    background-color: #020A18;
    padding-top: 264px;
    padding-bottom: 243px;
}


.item {
    border-radius: 10px;
    background: rgb(19, 32, 53);
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
}

.item_text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
}