* {
    margin: 0;
    padding: 0;
}

body {
    background: #020A18;
    font-family: "Open Sans", sans-serif;
}

.center {
    padding-left: calc(50% - 1146/2);
    padding-right: calc(50% - 1146/2);

}

.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__link {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.top__info {
    /* Group 399 */
    position: static;
    width: 604px;
    height: 415px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 128px;
}

.sub__title {
    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600px;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
    opacity: 0.7;

}

.text {
    width: 558px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
    opacity: 0.7;
}

.top__button {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button {
    display: flex;
    gap: 10px;
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    outline: none;
    border: none;
}

.top__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    background-color: #020A18;
    padding-top: 264px;
    padding-bottom: 243px;
}


.item {
    border-radius: 10px;
    background: rgb(19, 32, 53);
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
}

.item_text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
}

.botton__content {
    margin-bottom: 221px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.botton__info {
    max-width: 548px;
    display: flex;
    flex-direction: column;
}


.botton__title {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.text__botton {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .sub__title {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top {
        padding-bottom: 120px;
    }

    .top__logos {
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }

    .content {
        grid-template-columns: repeat(1, 365px);
        gap: 30px;
    }

    .item_big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }

    .item_big img {
        width: 98px;
    }

    .botton__content {
        gap: 64px;
    }
}

@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        gap: 16px;
    }

    .header__link {
        font-size: 16px;
    }

    .sub__title {
        text-align: center;
        font-size: 14px;
        line-height: 23px;
    }

    .title {
        margin-top: 16px;
        margin-bottom: 64px;
        font-size: 28px;
        line-height: 36px;
        max-width: 343px;
        text-align: center;
    }

    .text {
        text-align: center;
        width: 343px;
    }

    .top__content {
        margin-top: 64px;
    }

    .top__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 39px;
        gap: 24px;
    }

    .top__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__content img {
        width: 343px;
    }

    .top__logos {
        margin: 128px auto 0;
        flex-direction: column;
    }

    .logo__botton {
        align-self: flex-start;
    }


    .item {
        grid-template-columns: repeat(1, 362px);
    }

    .item_big {
        grid-column: 1;
        grid-row: 2;
        gap: 30px;
    }

    .botton__info {
        text-align: center;
        gap: 32px;
        margin-top: 96px;
    }

    .botton__title {
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 0;
    }
}